.App {
  height: 100vh;
  background-color:  #210125;
  text-align: center;
  overflow: hidden;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 0px 0 0px;
  background-color:  black;
  position: relative;
}

.authed-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 15;
  left: 0;
  right: 0;
}

.header {
  margin: 0;
  font-size: 50px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: white;
  top: 0 px;
  width: 100%;
  top: 0;
  left: 0;
  cursor:none;
}
.avoid-clicks {
  pointer-events: none;
}

.header-left {
  margin: 0;
  font-size: 50px;
  font-weight: bold;
  display: flex;
  justify-content: left;
  align-items: left;
  position: absolute;
  color: white;
  top: 25 px;
  width: 100%;
  top: 0;
  left: 0;
}

.header-right {
  margin: 0;
  font-size: 50px;
  font-weight: bold;
  display: flex;
  justify-content: right;
  align-items: right;
  position: absolute;
  color: white;
  top: 0 px;
  width: 100%;
  top: 0;
  left: 0;
}

.middle {
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: middle;
  color: white;
  width: 100%;
  height: 50%;
  position: fixed;
  margin: 5% auto; /* Will not center vertically and won't work in IE6/7. */
  left: 0;
  right: 0;
  overflow-y:auto;
}

.middle-row {
  margin: 0;
  font-weight: bold;
  flex-direction: row;
  position: fixed;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: white;
  top:10%;
  left: 20%;
  right: 20%;
}

.sub-text {
  font-size: 25px;
}

.gradient-text {
  background: -webkit-linear-gradient(left, #60c657 30%, #35aee2 60%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.button-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  
}
.cta-button {
  height: 45px;
  border: 0;
  width: auto;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: 'transparent';
}

.connect-wallet-button {
  color: white;
  background: -webkit-linear-gradient(left, #60c657, #35aee2);
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
  max-width: 300px;
}

.admin-wallet-button {
  color: white;
  background: -webkit-linear-gradient(left, #000000, #e23b35);
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
  max-width: 300px;
}

.purp-wallet {
  color: rgb(255, 255, 255);
  background: -webkit-linear-gradient(left, #000000, #8401a1);
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
  max-width: 300px;
}

.play-button {
  color: white;
  background: -webkit-linear-gradient(left, #ca8709, #001104);
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
  margin-left: 10px;
}

.mint-button {
  color: white;
  background: -webkit-linear-gradient(left, #60c657, #001104);
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
  margin-left: 10px;
}

.market-wallet-button {
  color: white;
  background: -webkit-linear-gradient(left, #a044ce, #dadada);
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
  margin-left: 10px;
}

button:disabled {
  cursor: not-allowed;
  background: #ccc;
  color: #333;
}

.item-image{
  height: 100px;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0 px;
  width: 100%;
  bottom: 0;
  left: 0;
  padding-bottom: 20px;
}

.footer-left {
  margin: 0;
  font-size: 50px;
  font-weight: bold;
  display: flex;
  justify-content: left;
  align-items: left;
  position: absolute;
  color: white;
  top: 95%;
  width: 100%;
  left: 0;
}

.footer-right {
  margin: 0;
  font-size: 50px;
  font-weight: bold;
  display: flex;
  justify-content: right;
  align-items: right;
  position: absolute;
  color: white;
  bottom: 0 px;
  top: 80%;
  width: 100%;
  right: 0;
}

.twitter-logo {
  width: 35px;
  height: 35px;
}


:root {
  /* galaxy image from https://unsplash.com/s/photos/galaxy */
  --bg-image: url('https://images.unsplash.com/photo-1538370965046-79c0d6907d47?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80');
}


.cat-logo {
  width: 200px;
  height: 200px;
}

.card body {
  background-color: #210125;
  font-family: sans-serif;
  display: flex;
}

.card {
  margin: 1rem;
  padding: 1rem;
  height: 300px;
  width: 300px;
  text-align: center;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  backdrop-filter: blur(14px);
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
}

.bg-blur {
  overflow: hidden;
  background-color: transparent;
}

.bg-blur::before {
  content: '';
  background-image: var(--bg-image);
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  filter: blur(30px);
  z-index: -1;
}

.footer-text {
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.connected-container input[type='text'] {
  display: inline-block;
  padding: 10px;
  width: 50%;
  height: 60px;
  font-size: 16px;
  box-sizing: border-box;
  background-color: #210125;
  border: none;
  border-radius: 10px;
  margin: 50px auto;
}

.connected-container button {
  height: 50px;
}

.buy-button {
  color: white;
  background: -webkit-linear-gradient(left, #000000, #059e00);
  background-size: 200% 200%;
  animation: gradient-animation 3s ease infinite;
  font-size: 16px;
  border-radius: 1px;
  border-color: white;
  padding: 8px 16px;
  cursor: pointer;
}

.download-button {
  border: none;
  background: -webkit-linear-gradient(left, #059e00, #63006c);
  background-size: 200% 200%;
  animation: gradient-animation 8s ease infinite;
  color: white;
  font-size: 16px;
  border-radius: 1px;
  border-color: white;
  padding: 8px 16px;
  cursor: pointer;
}

.create-product-button{
  margin: 10px;
  border: 0;
  font-size: 20px;
  font-weight: bold;
  position: fixed;
  top: 20px;
  right: 20px;
  cursor: pointer;
  color:white;
  background-color: transparent;
  transition: all 0.3s ease;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  z-index: 1;
}

.products-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.products-card {
  margin: 1rem;
  padding: 1rem;
  height: 420px;
  width: 380px;
  text-align: center;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  backdrop-filter: blur(14px);
  background-color: rgba(0, 255, 17, 0.811);
  border-radius: 10px;
}

/* KeyFrames */
@-webkit-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}