.product_container{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  max-width: 320px;
  height: 400px;
  background-color: #141414;
  margin: 15px;
  padding: 20px;
  border-radius: 16px;
  border: 1px solid rgb(104, 104, 104);
  /* background: url('../public/blur-bg.png') */
}

.product_image{
  width: 140px;
  background-color: #141414;
}

.product_details{
  display: flex;
  flex-direction: column;
  max-width: 95%;
}

.product_text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.product_title{
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 12px;
}
.product_description{
  color:rgb(186, 184, 184);
}

.product_action{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.product_price{
  font-size: 1.3em;
}